<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="buttontest">
    <div>{{message}}</div>
    <button v-on:click="reverseText">기능테스트</button>
    <div id="textResult"></div>
    <button v-on:click="methodTest">알림테스트</button>
</div>
<div id="fortest">
    <div v-for="data in data_for">{{data.text}}</div>
</div>

<div id="iftest">
    <div v-if="test=='1'">조건문테스트_1일떄 출력</div>
    <div v-else-if="test=='2'">조건문테스트_2일때 출력</div>
    <div v-else>그외 나머지 출력</div>
</div>

<div id="vmodeltest">
    <div>{{message}}</div>
    <input v-model="message">
</div>
<br />

<script>
    var buttontest = new Vue({
        el: "#buttontest",
        data: {
            message : "기능테스트"
        },
        methods: {
            methodTest : function (){
                alert("메서드 테스트 입니다.");
            },

            reverseText : function(){
                document.getElementById("textResult").innerText = this.message.split('').reverse().join('');
            }
        }
    });

    var fortest = new Vue({
        el: "#fortest",
        data: {
            data_for:[
                {text : 1},
                {text : 2},
                {text : 3}
            ]
        }
    });

    var iftest = new Vue({
        el: "#iftest",
        data: {
            test: "2"
        }
    });

    var vmodeltest = new Vue({
        el: "#vmodeltest",
        data: {
            message : "양방향 테스트"
        }
    });
</script>
</body>
</html>